body {
    background-color: aliceblue;
    font-family: 'Titillium Web', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

container {
    max-width: 1200px;
    width: 100%;
}

.col_2 {
    width: 20%;
    margin: auto;
    display: inline-block;
}

.col_10 {
    width: 70%;
    margin: auto;
    display: inline-block;
}

.container {
    display: block;
    overflow: auto;
}

@media screen and (min-width: 300px) {
    .logo {
        font-size: 25px;
        vertical-align: top;
    }
    
    .name {
        font-size: 25px;
        margin-bottom: 0;
        text-align: center;
    }
    
    .job_description {
        font-size: 18px;
        margin-top: 0;
        text-align: center;
    }
    
    .col_3 {
        display: block;
        margin: 0;
    }
    
    div {
        margin: 0 auto;
    }
    
    figcaption {
        margin: auto;
        text-align: center;
    }
}

@media screen and (min-width: 1000px) {
    .col_3 {
        width: 25%;
        margin: 1%;
        display: inline-block;
    }
    .logo {
        float: left;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
    }
    .info {
        float: right;
        text-align: right;
        margin-right: 10%;
    }
    .info p {
        margin: 10px auto;
        font-size: 30px;
        font-weight: 700;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

img {
    display: block;
    margin: 0 auto;
    border: 4px solid skyblue;
    border-radius: 5px;
}

.background_image {
    width: 549px;
    height: 309px;
    opacity: 0.8;
}

article p {
    font-size: 25px;
    text-decoration: underline;
}

.volunteer_abroad_picture, .animal_chess_picture {
    max-width: 250px;
    width: 250px;
    max-height: 170px;
    height: 170px;
}

figcaption {
    margin-left: 20px;
    margin-top: 5px;
}

footer h3 {
    text-align: center;
}